@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline:0;
  
  overflow: hidden;
  user-select: none;
  list-style-position:inside;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color:#f2f0f0;
}

button {
  border-radius: 5px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input {
  border-radius: 5px;
}

ul {
  list-style: none;
}

/***** Graph Context Menu *****/
.context_menu {
  z-index: 99;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #3a468f;
  text-align: center;
  background-color: rgba(240, 245, 255, 0.7);
}

.context_menu button {
  margin: 2px 5px 2px 5px;
  padding: 0px 4px 0px 4px;
}

.context_menu button:hover {
  background-color: #c7c2c2;
  transition: all .15s ease-in-out;
}

/* delete is a div not a button so need to duplicate here */
.delete:hover {
  color: red;
  background-color: #c7c2c2;
  border-radius: 5px;
  cursor:pointer;
  transition: all .15s ease-in-out;
}
/***** End Graph Context Menu *****/

/***** The Sidebar of Icons *****/
.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 4rem;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: rgb(27, 38, 74); /* UCSD blue */
  padding-top: 1.5rem;
}

/* The navigation menu icons */
.sidenav li {
  padding: .4rem;
  display: block;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 9.5px;
  position: relative;
}

.sidenav li:hover, .active {
  background-color: #3a468f;
  transition-duration: 0.4s;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  background-color:#f2f0f0;
  padding: 7px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  left: 65px; /* move tooltip left away from icons */
  position: fixed; /* appears above all other elments */
  z-index: 1;
  transform: translate3d(0,-2px,0);
  align-items: center;
}

.sidenav li:hover .tooltiptext {
  visibility: visible;
}
/***** End The Sidebar of Icons *****/

/***** The Second Sidebar That Rolls Out *****/
#secondbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  background-image:linear-gradient(to right, rgb(27, 38, 74, 1), rgb(27, 38, 74, 0.8), rgb(27, 38, 74, 0.6), rgb(27, 38, 74, 0.4)); /* background */
  padding-top: 20px;
  margin-left: 64px; /* using margin to clear the sidebar */
  transition: all .5s;
  transform: translate(0vw);
}

#secondbar > * {
  margin-left: 10px;
}

#secondBarHeader {
  display: flex;
  justify-content: space-between;
}

#secondBarHeaderTitle > h1 {
  margin: 10px;
  padding-left: 5px;
  text-align: center;
  color: gold;
  font-size: x-large;
}

#secondBarHeaderBtn > #closeButton{
  padding: 7px 7px 3px 7px;  /* the image is not quite centered hence lower margin at the bottom */
  margin: 8px 24px 8px 8px;  /* extra space on the right */
}

#secondbar button {
  margin: 13px;
  padding: 10px 15px 10px 15px;
  align-items: center;
  font-size: 13px;
  color:gold;
  background-color: #3a468f;
  transition: all .5s;
}

#secondbar button:hover {
  background-color:#4e5aa3;
}

#secondbar .machine_inputs {
  margin-right: 5px;
}

#secondbar .machine_input {
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.machine_input_text { 
  width: 120px;
  padding: 4px;
  margin: 4px;
  resize: none;
}

#secondbar select {
  font-size: 13px;
  margin-left: 13px;
  padding: 10px 0px 10px 10px;
  border: 2px solid #ccc;
  background-color:#f2f0f0;
  border-radius: 5px;
}

#secondbar .home button {
  margin: 4px;
  border: #f2f0f0;
  border-width: 2px;
  border-style: solid;
  padding: 2px 5px;
}

#secondbar #plus_minus_div {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding-right: 20px;
}

#plus_minus_div > button {
  font-size: 16px;
}

#secondbar #input_instructions {
  color: #f2f0f0;
  margin: 10px;
}
/***** End The Second Sidebar That Rolls Out *****/

/***** Styling for the pop-up *****/
/* Darken background window when popup is open */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (alpha) to control darkness */
  z-index: 1;
  display: none; /* Initially hidden */
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: 20px;
  background-color: #273b7d;
  color: #f2f0f0;
  text-align: center;
  border-radius: 7px;
}

.popup-content button{
  position: relative;
  border-radius: 1vw;
  padding: 0.5vw;
  border: 0,5vw;
  border-color: rgb(4, 4, 4);
  margin: 3px;
  background-color: #273b7d;
  color:#ccc
}

.popup-content button:hover {
  color: #f2f0f0;
  background-color: #4e5aa3;
  transition-duration: 0.4s;
}

#popup-close-div {
  display: flex;
  justify-content: right;
}

.popup-content #tutorial_close_btn{
  padding-bottom: 0px;  /* hack to fix image blank space at the bottom */
}
/***** End Styling for the pop-up *****/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
