@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline:0;
  
  overflow: hidden;
  user-select: none;
  list-style-position:inside;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%;
}

/* all input textboxes */
input {
  text-align: left;
  padding: 0 5px 0 5px;
  width: 4ch;
  border-radius: 10px;
  border: 1px solid rgb(128, 128, 16);
}


.topnav {
  display: none;
  overflow: hidden;
  background-color: rgba(192, 192, 32, 0.3);
}

.topnav > * {
  float: left;
  color: brown;
  text-align: center;
  margin: 0 3px;
  padding: 3px;
}

.topnav > *:hover {
  background-color: rgba(32, 128, 16, 0.3);
  color: lightyellow;
}

.topnav > select:hover {
  background-color: white;
  color: brown;
}

.context_menu {
  z-index: 99;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #3a468f;
  text-align: center;
  background-color: rgba(240, 245, 255, 0.7);
}

.start:hover {
  background-color: #c7c2c2;
  border-radius: 5px;
  cursor:pointer;
  transition: all .15s ease-in-out;
}

.final:hover {
  background-color: #c7c2c2;
  border-radius: 5px;
  cursor:pointer;
  transition: all .15s ease-in-out;
}
.delete {
  color: red;
}

.delete:hover {
  background-color: #c7c2c2;
  border-radius: 5px;
  cursor:pointer;
  transition: all .15s ease-in-out;
}

#tutorial-content {
  font-size: 12px;
  padding-top: 8px;
}


/* The sidebar menu */
.sidenav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 4rem;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:#273b7d; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1.5rem;
}

/* The navigation menu icons without hovering*/
.sidenav li:not(.active) {
  padding: .4rem .4rem .4rem;
  text-decoration: none;
  color:#c7c2c2;
  display: block;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 9.5px;
  position: relative;
  transition:all 0.4s;
}

.sidenav li:hover, .active {
  padding: .4rem .4rem .4rem;
  text-decoration: none;
  color: #f2f0f0;
  background-color: #4e5aa3;
  display: block;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 9.5px;
  position: relative;
  transition-duration: 0.4s;
}

.sidenav li:active {
  padding: .4rem .4rem .4rem;
  color: #f2f0f0;
  background-color: #4e5aa3;
  width:30px;
  height:30px;
  transition-duration: 0.4s;
}

#secondbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 17vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:#3a468f; /* background */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  margin-left: 64px; /*margin next to navbar */
  transition: all .5s;
  transform: translate(0vw);
}

#secondbar button {
  padding: 10px 15px 20px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 13px;
  color:#c7c2c2;
  background-color: #3a468f;
  display: block;
  border-radius: 5px;
  border-width: 2px;
  border-color:#3a468f;
  border-style: solid;
  width: 125px;
  height: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
  transition: all .5s;
}

#secondbar button:hover {
  background-color:#4e5aa3;
  color:#f2f0f0;
  transition-duration: 0.4s;
  border-radius: 5px;
  padding: 10px 15px 20px 10px;
}

#secondbar #closeButton { 
  left: 130px;
  padding: 5px 30px 28px 5px;
}
#secondbar #closeButton:hover {
  padding: 5px 30px 28px 5px;
}

/* text when hovering */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:max-content;
  background-color:#f2f0f0;
  color:#000000;
  text-align: center;
  padding: 7px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  left: 65px; /*move tooltip left away from icons */
  position: fixed; /* appears above all other elments */
  z-index: 1;
  transform: translate3d(0,-4px,0);
  transition: all .15s ease-in-out;
  align-items: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transform: translate3d(0,0,0);
}


.NFA_specific{
  cursor:pointer;
}

select{
  position: relative;
  font-size: 10px;
  width:10vw;
  left: 1vw;
  height: 3vw;
  padding: 10px 0px 10px 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.menu-content {
  display: none;
}

.menu-content.active {
  display: block;
}

#secondbar #closeButton{
  padding: 5px 30px 28px 5px;
  position: relative;
  width:2vw;
  top: 0vw;
  left:12vw;
  cursor:pointer;
}

/* Darken background window when popup is open */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (alpha) to control darkness */
  z-index: 1;
  display: none; /* Initially hidden */
}

/* Styling for the pop-up */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: 20px;
  background-color: #273b7d;
  color: #f2f0f0;
  text-align: center;
  border-radius: 7px;
}

.popup-content button{
  position: relative;
  border-radius: 1vw;
  padding: 0.5vw;
  cursor: pointer;
  border: 0,5vw;
  border-color: rgb(4, 4, 4);
  margin: 3px;
  background-color: #273b7d;
  color:#ccc
}

.popup-content button:hover {
  color: #f2f0f0;
  background-color: #4e5aa3;
  transition-duration: 0.4s;
}

.popup-content #tutorial_close_btn{
  position: fixed;
  top:5px;
  right:5px;
}

.popup-content #tutorial_close_btn:hover{
  color: #f2f0f0;
  background-color: #4e5aa3;
  transition-duration: 0.4s;
}

.popup-content-pg1{
  display: block;
}

canvas {
  background-color:#f2f0f0;
  z-index: 100;
}

/* access the input field in div id input1*/
.machineInput { 
  width: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 8px;
  /*background-color: #f2f0f0;
  /*font-size: 12px;*
  /* done */
  height: 12px;
  
  /* overflow: auto; */
  resize: none;
  
}

#secondbar .machine_input {
  max-height: 64px;
}
#secondbar .machine_input * {
  display: inline-block;
}

#secondbar .home button {
  width: 20px;
  display: inline-block;
  margin-left: 4px;
  margin-right: 0px;
  margin-top: -100px;
  position: relative;
  bottom: 20px;
  border: #f2f0f0;
  border-width: 2px;
  border-style: solid;
}

#secondbar .home .pmbtn {
  bottom: -16px;
  width: 32px;
  text-align: center;
  margin-left: 52px;
  margin-right: -44px;
}

#secondbar p, h3 {
  position: relative;
  color: #f2f0f0;
}
#secondbar h3 {
  margin-left: 64px;
  margin-bottom: 10px;
}

.secondBarHeader{
  position: absolute;
  padding: 3px;
  top: 30px;
  left: 18px;
  width: 100px;
  text-align: left;
  color: #c7c2c2;
  font-size: x-large;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

