* {
  margin: 0;
  padding: 0;
  border: 0;
  outline:0;
  
  overflow: hidden;
  user-select: none;
  list-style-position:inside;
  
  font-family: sans-serif;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%;
}

/* all input textboxes */
input {
  text-align: left;
  padding: 0 5px 0 5px;
  width: 4ch;
  border-radius: 10px;
  border: 1px solid rgb(128, 128, 16);
}

/* all buttons */
button {
  background-color: Transparent;
  color: rgb(0, 144, 255);
}

.topnav {
  overflow: hidden;
  background-color: rgba(192, 192, 32, 0.3);
}

.topnav > * {
  float: left;
  color: brown;
  text-align: center;
  margin: 0 3px;
  padding: 3px;
}

.topnav > *:hover {
  background-color: rgba(32, 128, 16, 0.3);
  color: lightyellow;
}

.topnav > select:hover {
  background-color: white;
  color: brown;
}

.context_menu {
  z-index: 99;
  position: absolute;
  border-radius: 10px;
  border: 2px solid rgb(32, 128, 16);
  text-align: center;
  background-color: rgba(240, 245, 255, 0.7);
}

.delete {
  color: red;
}

#tutorial-content {
  font-size: 12px;
  padding-top: 8px;
}
