@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline:0;
  
  overflow: hidden;
  user-select: none;
  list-style-position:inside;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color:#f2f0f0;
}

button {
  border-radius: 5px;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input {
  border-radius: 5px;
}

ul {
  list-style: none;
}

/***** Graph Context Menu *****/
.context_menu {
  z-index: 99;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #3a468f;
  text-align: center;
  background-color: rgba(240, 245, 255, 0.7);
}

.context_menu button {
  margin: 2px 5px 2px 5px;
  padding: 0px 4px 0px 4px;
}

.context_menu button:hover {
  background-color: #c7c2c2;
  transition: all .15s ease-in-out;
}

/* delete is a div not a button so need to duplicate here */
.delete:hover {
  color: red;
  background-color: #c7c2c2;
  border-radius: 5px;
  cursor:pointer;
  transition: all .15s ease-in-out;
}
/***** End Graph Context Menu *****/

/***** The Sidebar of Icons *****/
/* Hamburger Menu */
.menu-icon {
  display: none;
}

/* Entire Navbar */
.nav {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 5rem;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 100; /* Stay on top */
  background-color: rgb(27, 38, 74); /* UCSD blue */
  padding-top: 1.5rem;
}

/* Navbar Container */
.nav ul {
  display: flex;
  flex-direction: column;
  align-items:center;
}

/* The navigation menu icons */
.nav li {
  padding: 1rem;
  border-radius: 7px;
  width: 2rem;
  margin-bottom: .5rem;
  transition: all .3s;
}

.nav li:hover, .active {
  background-color: #263275;
  transition-duration: 0.4s;
  cursor: pointer;
}

.nav-label {
  display: block;
  text-align: center;
  font-size: 12px;
  position: absolute;
  transition: all .1s ease-in-out;
  margin: 0 auto;
  margin-top: -3px;
  left: 0;
  right: 0;
  color: #c7c2c2;
}

/* Navbar SVG */
.nav .icon {
  filter: invert(1) sepia(1) saturate(10%) hue-rotate(10deg) brightness(1) contrast(.5);
  transition: all .3s;
}

.nav li:hover > .icon {
  filter: invert(1) sepia(1) saturate(10%) hue-rotate(1deg);
}

.nav li:hover > .nav-label {
  color: #f2f0f0;
}

/***** End The Sidebar of Icons *****/

/***** The Second Sidebar That Rolls Out *****/
#secondbar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background: rgb(39, 52, 92);
  padding-top: 20px;
  margin-left: 5rem; /* using margin to clear the sidebar */
  transition: all .5s;
  transform: translate(-20rem);
}

#secondbar > * {  /* shift everything left a bit so they don't touch the navbar */
  margin-left: 10px;
}

#secondbar.open {
  transform: translate(0rem);
}

#secondbar button {
  margin: 13px;
  padding: 10px 15px 10px 15px;
  align-items: center;
  font-size: 13px;
  color:#c7c2c2;
  background-color: rgb(39, 52, 92);
  transition: all .5s;
  border: 1px solid #c7c2c2;
}

#secondbar button:hover {
  background-color:#3d4684;
}

#secondBarHeader {
  display: flex;
  justify-content: space-between;
}

#secondBarHeaderTitle > h1 {
  margin: 10px;
  padding-left: 5px;
  text-align: center;
  color: #c7c2c2;
  font-size: x-large;
}

#secondBarHeaderBtn > #close-button{
  padding: 7px 7px 3px 7px;  /* the image is not quite centered hence lower margin at the bottom */
  margin: 8px 16px 8px 8px;  /* extra space on the right */
  border: none;
}

#secondbar .machine_inputs {
  margin-right: 5px;
}

#secondbar .machine_input {
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.machine_input_text { 
  width: 120px;
  max-width: 120px;
  padding: 4px;
  margin: 4px;
  resize: none;
  background-color: rgb(31, 42, 79);
  color: #c7c2c2;
}

::placeholder {
  color:#c7c2c2;
}

#secondbar select {
  font-size: 13px;
  margin-left: 13px;
  padding: 10px 0px 10px 10px;
  border: 2px solid #ccc;
  background-color:#f2f0f0;
  border-radius: 5px;
}

#secondbar .home button {
  margin: 4px;
  border: #f2f0f0;
  border-width: 1px;
  border-style: solid;
  padding: 2px 5px;
}

#secondbar #plus_minus_div {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  padding-right: 20px;
}

#plus_minus_div > button {
  font-size: 16px;
}

#secondbar #input_instructions {
  color: #f2f0f0;
  margin: 10px;
}
/***** End The Second Sidebar That Rolls Out *****/

/***** Tutorial Popup *****/
/* Darken background window when popup is open */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (alpha) to control darkness */
  z-index: 1;
  display: none; /* Initially hidden */
}

/* Darken background window when popup is open */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.5); /* Adjust the last value (alpha) to control darkness */
  z-index: 9998;
  display: none; /* Initially hidden */
}

/* Tutorial Pop-up Container*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
  background-color: rgb(27, 38, 74);
  color: #c7c2c2;
  text-align: center;
  border-radius: 7px;
}

.popup-content button {
  position: relative;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  background-color: rgb(27, 38, 74);
  color:#c7c2c2;
}

.popup-content button:hover {
  color: #f2f0f0;
  background-color: #3d4684;
  transition-duration: 0.4s;
}

.popup-header {
  font-size: 16px;
}
#popup-close-div {
  display: flex;
  justify-content: right;
}

.popup-content #tutorial_close_btn {
  padding-bottom: 0px;  /* hack to fix image blank space at the bottom */
}
/***** End Styling for the pop-up *****/

/* Regex Page Styling */
.regex {

}

.regex-content {
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (max-width: 700px) { 
  #menu-container {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1000;
    cursor: pointer;
    background-color: rgb(27, 38, 74);
    border-radius: 7px;
    padding: .4rem 1rem .9rem .3rem;
    top: 1rem;
    left: .65rem;
  }

  .menu-icon {
    display: block;
    filter: invert(.6) sepia(1) saturate(1000%) hue-rotate(15deg) brightness(1) contrast(.7);
    transition: all .3s;
  }

  #menu-container:hover > .menu-icon {
    filter: invert(.6) sepia(1) saturate(1000%) hue-rotate(17deg) brightness(1.2) contrast(1);
  }

  .nav {
    width: 4.5rem;
    padding-top: 4.5rem;
    transform: translateX(0);
    transition: all .35s;
  }

  .nav.close {
    transform: translateX(-4.5rem);
  }

  .nav li {
    padding: .9rem;
    width: 1.8rem;
    margin-bottom: .4rem;
    position: relative;
  }

  #secondbar {
    width: 13rem;
    margin-left: 4.5rem;
  }
}